In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Boston House price dataset

In [4]:
data = pd.read_csv('https://raw.githubusercontent.com/jbrownlee/Datasets/master/housing.data', delim_whitespace = True, header = None)

In [5]:
data

          0     1      2   3      4   ...     9     10      11    12    13
0    0.00632  18.0   2.31   0  0.538  ...  296.0  15.3  396.90  4.98  24.0
1    0.02731   0.0   7.07   0  0.469  ...  242.0  17.8  396.90  9.14  21.6
2    0.02729   0.0   7.07   0  0.469  ...  242.0  17.8  392.83  4.03  34.7
3    0.03237   0.0   2.18   0  0.458  ...  222.0  18.7  394.63  2.94  33.4
4    0.06905   0.0   2.18   0  0.458  ...  222.0  18.7  396.90  5.33  36.2
..       ...   ...    ...  ..    ...  ...    ...   ...     ...   ...   ...
501  0.06263   0.0  11.93   0  0.573  ...  273.0  21.0  391.99  9.67  22.4
502  0.04527   0.0  11.93   0  0.573  ...  273.0  21.0  396.90  9.08  20.6
503  0.06076   0.0  11.93   0  0.573  ...  273.0  21.0  396.90  5.64  23.9
504  0.10959   0.0  11.93   0  0.573  ...  273.0  21.0  393.45  6.48  22.0
505  0.04741   0.0  11.93   0  0.573  ...  273.0  21.0  396.90  7.88  11.9

[506 rows x 14 columns]

In [13]:
X = data.iloc[:,0:13]
y = data.iloc[:,13]

In [16]:
from keras.models import Sequential
from keras.layers import Dense
from keras.wrappers.scikit_learn import KerasRegressor
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline

In [21]:
# Baseline model
def baseline_model():
  model = Sequential()
  model.add(Dense(13, input_dim = 13, kernel_initializer='normal', activation='relu'))
  model.add(Dense(1, kernel_initializer='normal'))
  model.compile(loss = 'mean_squared_error', optimizer = 'adam')
  return model

In [22]:
estimator = KerasRegressor(build_fn=baseline_model, epochs=100, batch_size=5, verbose=0)
kfold = KFold(n_splits=10)
results = cross_val_score(estimator, X, y, cv=kfold)
print("Results: %.2f (%.2f) MSE" % (results.mean(), results.std()))

Results: -31.96 (23.22) MSE

model the standardized dataset

In [24]:
estimators = []
estimators.append(('standardize', StandardScaler()))
estimators.append(('mlp', KerasRegressor(build_fn=baseline_model, epochs=50, batch_size=5, verbose=0)))
pipeline = Pipeline(estimators)
kfold = KFold(n_splits=10)
results = cross_val_score(pipeline, X, y, cv=kfold)
print("Standardized: %.2f (%.2f) MSE" % (results.mean(), results.std()))

Standardized: -29.63 (24.78) MSE

# lets go for deper networks

In [25]:
#deeper models
def larger_model():
	# create model
	model = Sequential()
	model.add(Dense(13, input_dim=13, kernel_initializer='normal', activation='relu'))
	model.add(Dense(6, kernel_initializer='normal', activation='relu'))
	model.add(Dense(1, kernel_initializer='normal'))
	# Compile model
	model.compile(loss='mean_squared_error', optimizer='adam')
	return model

estimators = []
estimators.append(('standardize', StandardScaler()))
estimators.append(('mlp', KerasRegressor(build_fn=baseline_model, epochs=50, batch_size=5, verbose=0)))
pipeline = Pipeline(estimators)
kfold = KFold(n_splits=10)
results = cross_val_score(pipeline, X, y, cv=kfold)
print("Standardized: %.2f (%.2f) MSE" % (results.mean(), results.std()))

Standardized: -29.96 (30.94) MSE

# lets go for wider mnodel

In [27]:
def wider_model():
	# create model
	model = Sequential()
	model.add(Dense(20, input_dim=13, kernel_initializer='normal', activation='relu'))
	model.add(Dense(1, kernel_initializer='normal'))
	# Compile model
	model.compile(loss='mean_squared_error', optimizer='adam')
	return model

estimators = []
estimators.append(('standardize', StandardScaler()))
estimators.append(('mlp', KerasRegressor(build_fn=wider_model, epochs=100, batch_size=5, verbose=0)))
pipeline = Pipeline(estimators)
kfold = KFold(n_splits=10)
results = cross_val_score(pipeline, X, y, cv=kfold)
print("Wider: %.2f (%.2f) MSE" % (results.mean(), results.std()))

Wider: -22.39 (25.12) MSE